body {
    font-family: 'Arial', sans-serif;
}

h2 , h4{
    font-weight: 700;
}

.navbar {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
     padding: 1rem 1.5rem;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: white;
    font-size: large;
    color: darkred;
}






p{
    font-size: 1.2rem;
    line-height: 1.8;
}


#about {
    padding: 50px 0;
}

#projects {
    padding: 50px 0;
}

#contact {
    padding: 50px 0;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

h4{

}



footer {
    background-color: #343a40;
    color: #fff;
}

.card{
    background-color:rgba(0, 0, 0, 0.8) ;
    color: #ffffff;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-text{
    align-items: center;
    padding-bottom: 50px;
}

.card-title{
    padding-top: 35px;
}

h5{
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    color:cadetblue;
}